<div class="row">
  <div class="col">
    <div class="offset-1 text-center">
      <h2 class="text-center px-3 py-3 text-light text-bold">
        <strong>野営地一覧</strong>
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class='table table-inverse text-light text-bold link'>
      <thead>
        <tr>
          <th></th>
          <th>野営地名</th>
          <th>評価</th>
          <th>都道府県</th>
          <th>環境</th>
          <th>お気に入り</th>
          <th>コメント</th>
        </tr>
      </thead>
      <tbody>
        <% posts.each do |post| %>
          <tr data-href="<%= post_path(post) %>">
            <td>
              <% post.images.each do |image| %>
                <%= image_tag(image, size:'50x50') %>
              <% end %>
            </td>
            <td><%= post.name %></td>
            <td><%= render "public/posts/static_rate", post: post %></td>
            <td><%= post.prefecture.name %></td>
            <td><%= post.environment.name %></td>
            <td class=<%= "favorite-" + post.id.to_s %> >
                <%= render "public/favorites/btn", post: post %>
            </td>
            <td><%= render "public/post_comments/counter", post: post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <!--<script src="./jquery.min.js"></script>-->
    <script>
    jQuery( function($) {
        $('tbody tr[data-href]').addClass('clickable').click( function() {
            window.location = $(this).attr('data-href');
        }).find('a').hover( function() {
            $(this).parents('tr').unbind('click');
        }, function() {
            $(this).parents('tr').click( function() {
                window.location = $(this).attr('data-href');
            });
        });
    });
    </script>
    
    <%= paginate posts %>
  </div>
</div>