<div id="rate_<%= post.id %>"></div>
<script>
    document.querySelector('#rate_<%= post.id %>').innerHTML = ""
    raty(document.querySelector('#rate_<%= post.id %>'),
        {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: "<%= post.rate %>",
            readOnly: true,
        }
    )
</script>