<div class='container'>
  <div class="row">
    <div class="offset-1 text-center">
      <h2 class="text-center px-3 py-3  text-light">
        <strong>投稿詳細</strong>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col text-light'>
      <h2>野営地画像</h2>
      <table class='table table-inverse border bg-light text-dark'>
        <tbody>
          <tr>
            <td colspan="3">
              <% @post.images.each do |image| %>
                  <%= image_tag(image, size:'192x108') %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>野営地名　：　<%= @post.name %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "public/posts/static_rate", post: @post %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>説明＆コメント　：　<%= @post.body %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>都道府県　：　<%= @post.prefecture.name %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>環境　：　<%= @post.environment.name %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>住所　：　<%= @post.address %></strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>地図　：　<div id="map"></div></strong>
            </td>
              
              <!--google map用のscript-->
              <script>
                var map
                var geocoder
                var marker
                var centercoord
                
                function initMap(){
                  geocoder = new google.maps.Geocoder()
                  
                  // contollerで登録済みの緯度と経度を変数に入れて渡す
                  centercoord ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
                  
                  map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: centercoord
                  });
                  
                  marker = new google.maps.Marker({
                    position: centercoord,
                    map: map,
                  });
                }
              </script>
              
              <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY']%>&callback=initMap" async defer></script>
              
          </tr>
          <tr>
            <td colspan="3">
              <strong>経度　：　<%= @post.longitude %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>緯度　：　<%= @post.latitude %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>アクセス方法　：　<%= @post.access %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>周辺設備（スーパーやコンビニなど）　：　<%= @post.facility %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>野営許可申請先　：　<%= @post.contact %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3" class=<%= "favorite-" + @post.id.to_s %> >
              <strong><%= render "public/favorites/btn", post: @post %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="post-comments-counter">
              <strong>コメント数　：　<%= render "public/post_comments/counter", post: @post %></strong>
            </td>
          </tr>
        </tbody>
      </table>
      
      <% if @post.user == current_user %>
        <%= link_to '編集', edit_post_path(@post), class: "btn btn-lg btn-success edit_post_#{@post.id}" %>
        <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-lg btn-danger destroy_post_#{@post.id}" %>
      <% end %>
      
    </div>
  </div>
  
  <div class="post-comments-index">
    <%= render "public/post_comments/index", post: @post %>
  </div>
  
  <div class="row">
    <div>
      <h2 class="text-center px-3 py-3">コメント投稿</h2>
    </div>
  </div>
  <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
</div>