<div class='container'>
  <div class="row">
    <div class="offset-1 text-center">
      <h2 class="text-center px-3 py-3">
        <strong>投稿詳細</strong>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <h2>野営地画像</h2>
      <table class='table table-inverse border bg-light text-dark'>
        <tbody>
          <tr>
            <td colspan="3">
              <% @post.images.each do |image| %>
                  <%= image_tag(image, size:'192x108') %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>野営地名　：　<%= @post.name %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "public/posts/static_rate", post: @post %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>説明＆コメント　：　<%= @post.body %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>都道府県　：　<%= @post.prefecture.name %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>環境　：　<%= @post.environment.name %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>住所　：　<%= @post.address %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>経度　：　<%= @post.longitude %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>緯度　：　<%= @post.latitude %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>アクセス方法　：　<%= @post.access %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>周辺設備（スーパーやコンビニなど）　：　<%= @post.facility %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <strong>野営許可申請先　：　<%= @post.contact %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3" class=<%= "favorite-" + @post.id.to_s %> >
              <strong><%= render "public/favorites/btn", post: @post %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="post-comments-counter">
              <strong>コメント数　：　<%= render "public/post_comments/counter", post: @post %></strong>
            </td>
          </tr>
        </tbody>
      </table>
      
      <% if admin_signed_in? %>
        <td><%= link_to '削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"%></td>
      <% end %>
      
    </div>
  </div>
  
  <div class="post-comments-index">
    <%= render "admin/post_comments/index", post: @post %>
  </div>
  
</div>