<div id="rate_<%= post_comment.id %>"></div>
<script>
    document.querySelector('#rate_<%= post_comment.id %>').innerHTML = ""
    raty(document.querySelector('#rate_<%= post_comment.id %>'),
        {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: "<%= post_comment.rate %>",
            readOnly: true,
        }
    )
</script>