<div class='container px-5 px-sm-0  form-box'>
  <div class="row">
    <div class="offset-1 text-center">
      <h2 class="text-center px-3 py-3">
        <strong>環境タグ管理</strong>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <div class="mb-3">
        <h3>環境タグ新規登録</h3>
        <%= render 'admin/environments/form', environment: @environment, url: admin_environments_path, method: :POST, submit: '登録' %>
      </div>
      <div class="pt-3">
        <h3>環境一覧</h3>
        <table class="table table-hover table-inverse bg-light has_border">
          <thead>
            <tr>
              <th>ID</th>
              <th>環境名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @environments.each do |environment| %>
              <tr>
                <td><%= environment.id %></td>
                <td><%= link_to environment.name, admin_root_path(environment_id: environment.id), class: "underline" %></td>
              <% if admin_signed_in? %>
                <td class="text-center"><%= link_to "編集", edit_admin_environment_path(environment), class: "btn btn-success" %></td>
                <td class="text-center"><%= link_to '削除', admin_environment_path(environment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %></td>
              <% end %>
              </tr>
            <% end %>
              <tr align="center">
                <td colspan="7" class='text-light'><%= paginate @environments %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>