<div class="container">
  <div class="row">
    <div class='col-md-3'>
      <%= render "layouts/search", post: @post %>
      <%= render "layouts/rule" %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="row">
        <div class="offset-1 text-center">
          <h2 class="text-center px-3 py-3">
            <strong><%= @user.name%>さんのお気に入り一覧</strong>
            <%= link_to "マイページへ", mypage_path, class: "btn btn-success" %>
          </h2>
        </div>
      </div>
      <table class='table table-inverse text-light'>
        <thead>
          <tr>
            <th>画像</th>
            <th>野営地名</th>
            <th>評価</th>
            <th>都道府県</th>
            <th>環境</th>
            <th>お気に入り</th>
          </tr>
        </thead>
        <tbody>
        <!-- お気に入り一覧表示用-->
        <% if @favorite_index.present? %>
          <% @favorite_index.each do |post| %>
            <tr>
              <td>
                <% post.images.each do |image| %>
                  <%= image_tag(image, size:'50x50') %>
                <% end %>
              </td>
              <td><%= link_to post.name, post, class: "text-light" %></td>
              <td><%= render "public/posts/static_rate", post: post %></td>
              <td><%= post.prefecture.name %></td>
              <td><%= post.environment.name %></td>
              <td class=<%= "favorite-" + post.id.to_s %> >
                <%= render "public/favorites/btn", post: post %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>