<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="logo">
        <font size="5" class="text-light">
          <%= link_to (admin_signed_in? ? admin_root_path : root_path ), class: "nav-link text-light" do %>
            <i class="fas fa-campground"></i> Yaei Lovers
          <% end %>
        </font>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li>
            <%= link_to admin_root_path, class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> トップへ
            <% end %>
          </li>
          <li>
            <%= link_to how_to_path, class: 'nav-link text-light' do %>
              <i class="fas fa-list"></i> 野営の心得
            <% end %>
          </li>
          <li>
            <%= link_to admin_users_path, class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i> 会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_environments_path, class: 'nav-link text-light' do %>
              <i class="fas fa-tree"></i> 環境一覧
            <% end %>
          </li>
          <li>
            <%= link_to admin_prefectures_path, class: 'nav-link text-light' do %>
              <i class="fas fa-globe-asia"></i> 県名一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <% elsif user_signed_in? %>
          <li>
            <%= link_to root_path, class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> トップへ
            <% end %>
          </li>
          <li>
            <%= link_to how_to_path, class: 'nav-link text-light' do %>
              <i class="fas fa-list"></i> 野営の心得
            <% end %>
          </li>
          <li>
            <%= link_to mypage_path, class: 'nav-link text-light' do %>
              <i class="fas fa-user"></i> マイページ
            <% end %>
          </li>
          <li>
            <%= link_to new_post_path, class: 'nav-link text-light' do %>
              <i class="fas fa-folder-plus"></i> 新規投稿
            <% end %>
          </li>
          <li>
            <%= link_to posts_path, class: 'nav-link text-light' do %>
              <i class="fas fa-campground"></i> 野営地一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path, class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> トップへ
            <% end %>
          </li>
          <li>
            <%= link_to how_to_path, class: 'nav-link text-light' do %>
              <i class="fas fa-list"></i> 野営の心得
            <% end %>
          </li>
          <li>
            <%= link_to user_guest_sign_in_path, method: :post, class: 'nav-link text-light' do %>
              <i class="fas fa-eye"></i> ゲストログイン
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>