<div class="border text-center">
  <h3 class="text-center my-3">野営地検索</h3>
  <%= form_with model: post, url: posts_path, local: true, method: :get do |form| %>
  
    <div class="text-center">
      <%= form.label :prefecture_id, "都道府県" %>
      <a class="select_field text-center"><%= form.collection_select :prefecture_id, Prefecture.all, :id, :name %></a>
    </div>
    <div class="text-center">
      <%= form.label :environment_id, "環境" %>
      <a class="select_field"><%= form.collection_select :environment_id, Environment.all, :id, :name %></a>
    </div>
    
    <button type="submit">
      <i class="fas fa-search"></i> 検索
    </button>
    
  <% end %>
</div>