<div class="border text-center">
  <h3 class="text-center my-3">野営地検索</h3>
  <p class="font3">野営地検索</p>
  <%= form_with model: post, url: posts_path, local: true, method: :get do |form| %>
    <table>
      <tr>
        <td><%= form.label :prefecture_id, "都道府県" %></td>
        <td class="select_field"><%= form.collection_select :prefecture_id, Prefecture.all, :id, :name %></td>
      </tr>
      <tr>
        <td><%= form.label :environment_id, "環境" %></td>
        <td class="select_field"><%= form.collection_select :environment_id, Environment.all, :id, :name %></td>
      </tr>
    </table>
    <button type="submit">
      <i class="fas fa-search"></i> 検索
    </button>
  <% end %>
</div>